<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Display</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/themes/macarons.js"></script>

</head>
<body>
    <div id="59de78ae97574c679479d383e8f39e95" class="chart-container" style="width:1500px; height:600px;"></div>
    <script>
        var chart_59de78ae97574c679479d383e8f39e95 = echarts.init(
            document.getElementById('59de78ae97574c679479d383e8f39e95'), 'macarons', {renderer: 'svg'});
        var option_59de78ae97574c679479d383e8f39e95 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 50,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0.2,
                "type": "solid"
            },
            "roam": true,
            "draggable": false,
            "focusNodeAdjacency": true,
            "data": [
                {
                    "name": "\u6234\u4e49\u4f1f",
                    "symbolSize": 15,
                    "draggable": "False",
                    "value": 15,
                    "symbol": "image://http://i0.hdslb.com/bfs/face/member/noface.jpg",
                    "category": "e",
                    "label": {
                        "normal": {
                            "show": "True"
                        }
                    }
                },
                {
                    "name": "\u6797\u4e1c",
                    "symbolSize": 21,
                    "draggable": "False",
                    "value": 21,
                    "symbol": "image://http://i0.hdslb.com/bfs/face/e7cecbe45158a095f07ecc0e4e82aac457a5b27a.jpg",
                    "category": "u",
                    "label": {
                        "normal": {
                            "show": "True"
                        }
                    }
                },
                {
                    "name": "\u738b\u53cb\u6cf0",
                    "symbolSize": 20,
                    "draggable": "False",
                    "value": 20,
                    "symbol": "image://http://i0.hdslb.com/bfs/face/member/noface.jpg",
                    "category": "n",
                    "label": {
                        "normal": {
                            "show": "True"
                        }
                    }
                },
                {
                    "name": "\u9f99\u4e9a",
                    "symbolSize": 14,
                    "draggable": "False",
                    "value": 14,
                    "symbol": "image://http://i2.hdslb.com/bfs/face/6606d22626247245dbf69011e87194c985e0a98e.jpg",
                    "category": "w",
                    "label": {
                        "normal": {
                            "show": "True"
                        }
                    }
                },
                {
                    "name": "\u848b\u742c",
                    "symbolSize": 25,
                    "draggable": "False",
                    "value": 25,
                    "symbol": "image://http://i0.hdslb.com/bfs/face/member/noface.jpg",
                    "category": "j",
                    "label": {
                        "normal": {
                            "show": "True"
                        }
                    }
                },
                {
                    "name": "\u8d75\u65b0",
                    "symbolSize": 23,
                    "draggable": "False",
                    "value": 23,
                    "symbol": "image://http://i0.hdslb.com/bfs/face/a96eaa7b84db781bbe4b7a94b22cf20d7901fbd5.jpg",
                    "category": "h",
                    "label": {
                        "normal": {
                            "show": "True"
                        }
                    }
                },
                {
                    "name": "\u4f0d\u793c\u5a77",
                    "symbolSize": 19,
                    "draggable": "False",
                    "value": 19,
                    "symbol": "image://http://i0.hdslb.com/bfs/face/member/noface.jpg",
                    "category": "l",
                    "label": {
                        "normal": {
                            "show": "True"
                        }
                    }
                },
                {
                    "name": "\u53f8\u5bc7\u7b11\u7ff0",
                    "symbolSize": 14,
                    "draggable": "False",
                    "value": 14,
                    "symbol": "image://http://i0.hdslb.com/bfs/face/6985f5959741f7fb1f96d2a4c39b6f25e8e6f3ac.jpg",
                    "category": "f",
                    "label": {
                        "normal": {
                            "show": "True"
                        }
                    }
                },
                {
                    "name": "\u5f20\u5170",
                    "symbolSize": 21,
                    "draggable": "False",
                    "value": 21,
                    "symbol": "image://https://c-ssl.duitang.com/uploads/blog/202106/01/20210601102818_85059.jpg",
                    "category": "z",
                    "label": {
                        "normal": {
                            "show": "True"
                        }
                    }
                },
                {
                    "name": "\u9773\u987a",
                    "symbolSize": 21,
                    "draggable": "False",
                    "value": 21,
                    "symbol": "image://http://i0.hdslb.com/bfs/face/member/noface.jpg",
                    "category": "k",
                    "label": {
                        "normal": {
                            "show": "True"
                        }
                    }
                },
                {
                    "name": "\u90c1\u58ee",
                    "symbolSize": 24,
                    "draggable": "False",
                    "value": 24,
                    "symbol": "image://http://i0.hdslb.com/bfs/face/member/noface.jpg",
                    "category": "l",
                    "label": {
                        "normal": {
                            "show": "True"
                        }
                    }
                },
                {
                    "name": "\u9b4f\u52a0\u53ef",
                    "symbolSize": 20,
                    "draggable": "False",
                    "value": 20,
                    "symbol": "image://http://i0.hdslb.com/bfs/face/220bf6922667e100b7556f70e1ec662fd3088bb1.jpg",
                    "category": "v",
                    "label": {
                        "normal": {
                            "show": "True"
                        }
                    }
                },
                {
                    "name": "\u519c\u7389\u7476",
                    "symbolSize": 26,
                    "draggable": "False",
                    "value": 26,
                    "symbol": "image://http://i2.hdslb.com/bfs/face/d59d092c58de43ccf57fb79e055605cd1e6d8a70.jpg",
                    "category": "z",
                    "label": {
                        "normal": {
                            "show": "True"
                        }
                    }
                },
                {
                    "name": "\u5180\u9526",
                    "symbolSize": 23,
                    "draggable": "False",
                    "value": 23,
                    "symbol": "image://http://i0.hdslb.com/bfs/face/member/noface.jpg",
                    "category": "p",
                    "label": {
                        "normal": {
                            "show": "True"
                        }
                    }
                },
                {
                    "name": "\u8bf8\u845b\u51e1",
                    "symbolSize": 13,
                    "draggable": "False",
                    "value": 13,
                    "symbol": "image://http://i0.hdslb.com/bfs/face/member/noface.jpg",
                    "category": "g",
                    "label": {
                        "normal": {
                            "show": "True"
                        }
                    }
                },
                {
                    "name": "\u53f8\u598d",
                    "symbolSize": 14,
                    "draggable": "False",
                    "value": 14,
                    "symbol": "image://http://i0.hdslb.com/bfs/face/member/noface.jpg",
                    "category": "b",
                    "label": {
                        "normal": {
                            "show": "True"
                        }
                    }
                },
                {
                    "name": "\u53e4\u96c1",
                    "symbolSize": 18,
                    "draggable": "False",
                    "value": 18,
                    "symbol": "image://https://c-ssl.duitang.com/uploads/blog/202106/01/20210601102818_85059.jpg",
                    "category": "o",
                    "label": {
                        "normal": {
                            "show": "True"
                        }
                    }
                },
                {
                    "name": "\u5f13\u771f",
                    "symbolSize": 30,
                    "draggable": "False",
                    "value": 30,
                    "symbol": "image://http://i0.hdslb.com/bfs/face/member/noface.jpg",
                    "category": "h",
                    "label": {
                        "normal": {
                            "show": "True"
                        }
                    }
                },
                {
                    "name": "\u53f8\u8302",
                    "symbolSize": 10,
                    "draggable": "False",
                    "value": 10,
                    "symbol": "image://https://c-ssl.duitang.com/uploads/blog/202106/01/20210601102818_85059.jpg",
                    "category": "h",
                    "label": {
                        "normal": {
                            "show": "True"
                        }
                    }
                },
                {
                    "name": "\u95fb\u5eb7",
                    "symbolSize": 14,
                    "draggable": "False",
                    "value": 14,
                    "symbol": "image://http://i0.hdslb.com/bfs/face/bdc9b50395fbfe745e14632512be8155d66b620f.jpg",
                    "category": "w",
                    "label": {
                        "normal": {
                            "show": "True"
                        }
                    }
                },
                {
                    "name": "\u8bb8\u5a34",
                    "symbolSize": 19,
                    "draggable": "False",
                    "value": 19,
                    "symbol": "image://http://i1.hdslb.com/bfs/face/708b9cb48e24bd5cb9a696865977b607cc6546df.jpg",
                    "category": "b",
                    "label": {
                        "normal": {
                            "show": "True"
                        }
                    }
                },
                {
                    "name": "\u9c7c\u91d1\u4e3d",
                    "symbolSize": 23,
                    "draggable": "False",
                    "value": 23,
                    "symbol": "image://http://i0.hdslb.com/bfs/face/member/noface.jpg",
                    "category": "l",
                    "label": {
                        "normal": {
                            "show": "True"
                        }
                    }
                },
                {
                    "name": "\u65f6\u6613\u5947",
                    "symbolSize": 21,
                    "draggable": "False",
                    "value": 21,
                    "symbol": "image://http://i0.hdslb.com/bfs/face/member/noface.jpg",
                    "category": "m",
                    "label": {
                        "normal": {
                            "show": "True"
                        }
                    }
                },
                {
                    "name": "\u6797\u96ea",
                    "symbolSize": 25,
                    "draggable": "False",
                    "value": 25,
                    "symbol": "image://http://i0.hdslb.com/bfs/face/member/noface.jpg",
                    "category": "b",
                    "label": {
                        "normal": {
                            "show": "True"
                        }
                    }
                },
                {
                    "name": "\u7126\u82e5",
                    "symbolSize": 27,
                    "draggable": "False",
                    "value": 27,
                    "symbol": "image://http://i0.hdslb.com/bfs/face/member/noface.jpg",
                    "category": "l",
                    "label": {
                        "normal": {
                            "show": "True"
                        }
                    }
                },
                {
                    "name": "\u90fd\u5b89\u7965",
                    "symbolSize": 25,
                    "draggable": "False",
                    "value": 25,
                    "symbol": "image://http://i0.hdslb.com/bfs/face/513ae168cc3ec805be303840869b0b3a1487bc5e.jpg",
                    "category": "z",
                    "label": {
                        "normal": {
                            "show": "True"
                        }
                    }
                }
            ],
            "categories": [
                {
                    "name": "a"
                },
                {
                    "name": "b"
                },
                {
                    "name": "c"
                },
                {
                    "name": "d"
                },
                {
                    "name": "e"
                },
                {
                    "name": "f"
                },
                {
                    "name": "g"
                },
                {
                    "name": "h"
                },
                {
                    "name": "i"
                },
                {
                    "name": "j"
                },
                {
                    "name": "k"
                },
                {
                    "name": "l"
                },
                {
                    "name": "m"
                },
                {
                    "name": "n"
                },
                {
                    "name": "o"
                },
                {
                    "name": "p"
                },
                {
                    "name": "q"
                },
                {
                    "name": "r"
                },
                {
                    "name": "s"
                },
                {
                    "name": "t"
                },
                {
                    "name": "u"
                },
                {
                    "name": "v"
                },
                {
                    "name": "w"
                },
                {
                    "name": "x"
                },
                {
                    "name": "y"
                },
                {
                    "name": "z"
                }
            ],
            "edgeLabel": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "edgeSymbol": [
                null,
                null
            ],
            "edgeSymbolSize": 10,
            "links": [
                {
                    "source": "\u6234\u4e49\u4f1f",
                    "target": "\u848b\u742c"
                },
                {
                    "source": "\u6797\u4e1c",
                    "target": "\u848b\u742c"
                },
                {
                    "source": "\u738b\u53cb\u6cf0",
                    "target": "\u848b\u742c"
                },
                {
                    "source": "\u9f99\u4e9a",
                    "target": "\u848b\u742c"
                },
                {
                    "source": "\u848b\u742c",
                    "target": "\u8d75\u65b0"
                },
                {
                    "source": "\u848b\u742c",
                    "target": "\u4f0d\u793c\u5a77"
                },
                {
                    "source": "\u848b\u742c",
                    "target": "\u53f8\u5bc7\u7b11\u7ff0"
                },
                {
                    "source": "\u848b\u742c",
                    "target": "\u5f20\u5170"
                },
                {
                    "source": "\u848b\u742c",
                    "target": "\u9773\u987a"
                },
                {
                    "source": "\u848b\u742c",
                    "target": "\u90c1\u58ee"
                },
                {
                    "source": "\u848b\u742c",
                    "target": "\u9b4f\u52a0\u53ef"
                },
                {
                    "source": "\u848b\u742c",
                    "target": "\u519c\u7389\u7476"
                },
                {
                    "source": "\u848b\u742c",
                    "target": "\u5180\u9526"
                },
                {
                    "source": "\u848b\u742c",
                    "target": "\u8bf8\u845b\u51e1"
                },
                {
                    "source": "\u848b\u742c",
                    "target": "\u53f8\u598d"
                },
                {
                    "source": "\u848b\u742c",
                    "target": "\u53e4\u96c1"
                },
                {
                    "source": "\u848b\u742c",
                    "target": "\u5f13\u771f"
                },
                {
                    "source": "\u848b\u742c",
                    "target": "\u53f8\u8302"
                },
                {
                    "source": "\u848b\u742c",
                    "target": "\u95fb\u5eb7"
                },
                {
                    "source": "\u848b\u742c",
                    "target": "\u8bb8\u5a34"
                },
                {
                    "source": "\u848b\u742c",
                    "target": "\u9c7c\u91d1\u4e3d"
                },
                {
                    "source": "\u848b\u742c",
                    "target": "\u65f6\u6613\u5947"
                },
                {
                    "source": "\u848b\u742c",
                    "target": "\u6797\u96ea"
                },
                {
                    "source": "\u848b\u742c",
                    "target": "\u7126\u82e5"
                },
                {
                    "source": "\u848b\u742c",
                    "target": "\u90fd\u5b89\u7965"
                }
            ],
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "a",
                "b",
                "c",
                "d",
                "e",
                "f",
                "g",
                "h",
                "i",
                "j",
                "k",
                "l",
                "m",
                "n",
                "o",
                "p",
                "q",
                "r",
                "s",
                "t",
                "u",
                "v",
                "w",
                "x",
                "y",
                "z"
            ],
            "selected": {
                "a": true,
                "b": true,
                "c": true,
                "d": true,
                "e": true,
                "f": true,
                "g": true,
                "h": true,
                "i": true,
                "j": true,
                "k": true,
                "l": true,
                "m": true,
                "n": true,
                "o": true,
                "p": true,
                "q": true,
                "r": true,
                "s": true,
                "t": true,
                "u": true,
                "v": true,
                "w": true,
                "x": true,
                "y": true,
                "z": true
            },
            "show": false,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "\u4e2a\u4eba\u793e\u4ea4\u7f51\u7edc\u56fe",
            "left": "30%",
            "padding": 5,
            "itemGap": 10,
            "textStyle": {
                "color": "blue",
                "fontSize": "30"
            }
        }
    ],
    "toolbox": {
        "show": true,
        "orient": "vertical",
        "itemSize": 15,
        "itemGap": 10,
        "left": "80%",
        "feature": {
            "saveAsImage": {
                "type": "png",
                "backgroundColor": "auto",
                "connectedBackgroundColor": "#fff",
                "show": true,
                "title": "\u4fdd\u5b58\u4e3a\u56fe\u7247",
                "pixelRatio": 1
            },
            "restore": {
                "show": true,
                "title": "\u8fd8\u539f"
            },
            "dataView": {
                "show": true,
                "title": "\u6570\u636e\u89c6\u56fe",
                "readOnly": false,
                "lang": [
                    "\u6570\u636e\u89c6\u56fe",
                    "\u5173\u95ed",
                    "\u5237\u65b0"
                ],
                "backgroundColor": "#fff",
                "textareaColor": "#fff",
                "textareaBorderColor": "#333",
                "textColor": "#000",
                "buttonColor": "#c23531",
                "buttonTextColor": "#fff"
            },
            "dataZoom": {
                "show": true,
                "title": {
                    "zoom": "\u533a\u57df\u7f29\u653e",
                    "back": "\u533a\u57df\u7f29\u653e\u8fd8\u539f"
                },
                "icon": {},
                "xAxisIndex": false,
                "yAxisIndex": false,
                "filterMode": "filter"
            },
            "magicType": {
                "show": true,
                "title": "\u6570\u636e\u89c6\u56fe",
                "readOnly": false,
                "lang": [
                    "\u6570\u636e\u89c6\u56fe",
                    "\u5173\u95ed",
                    "\u5237\u65b0"
                ],
                "backgroundColor": "#fff",
                "textareaColor": "#fff",
                "textareaBorderColor": "#333",
                "textColor": "#000",
                "buttonColor": "#c23531",
                "buttonTextColor": "#fff"
            },
            "brush": {
                "show": true,
                "title": {
                    "zoom": "\u533a\u57df\u7f29\u653e",
                    "back": "\u533a\u57df\u7f29\u653e\u8fd8\u539f"
                },
                "icon": {},
                "xAxisIndex": false,
                "yAxisIndex": false,
                "filterMode": "filter"
            }
        }
    }
};
        chart_59de78ae97574c679479d383e8f39e95.setOption(option_59de78ae97574c679479d383e8f39e95);
    </script>
</body>
</html>
