
            <!DOCTYPE html>
            <html lang="en" >
            <head>
            <meta charset="UTF-8">
            <title>Find Possible Friends</title>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
            <link rel="stylesheet" href="static/css/style4.css">

            </head>
            <body>
            <!-- partial:index.partial.html -->
            <section>
            <!--for demo wrap-->
            <h1>Possible Friends</h1>
            <div class="tbl-header">
                <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr>
                    <th>Name</th>
                    <th>District</th>
                    <th>Education</th>
                    <th>Hobbies</th>
                    <th>Relationship</th>
                    <th>Notes</th>
                    </tr>
                </thead>
                </table>
            </div>
            <div class="tbl-content">
                <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
<tr>
<td>
司徒洁
</td>
<td>
山西省阳泉市平定县
</td>
<td>
志华小学,平定三中,十一中,中国科学技术大学
</td>
<td>
舞蹈,萨克斯
</td>
<td>
7
</td>
<td>
同一初中 同一地区 有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
田易欣
</td>
<td>
山西省阳泉市平定县
</td>
<td>
熊猫小学,平定二中,二中,大连理工大学
</td>
<td>
插画
</td>
<td>
7
</td>
<td>
同一小学 同一地区 
</td>
</tr>
<tr>
<td>
门呼礼妹
</td>
<td>
山西省阳泉市平定县
</td>
<td>
桃河小学,平定二中,一中,南开大学
</td>
<td>
折纸,品茶
</td>
<td>
6
</td>
<td>
同一地区 
</td>
</tr>
<tr>
<td>
姚金岚
</td>
<td>
山西省阳泉市城区
</td>
<td>
上站小学,四中,二中,北京理工大学
</td>
<td>
萨克斯
</td>
<td>
6
</td>
<td>
有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
穆聪
</td>
<td>
山西省阳泉市郊区
</td>
<td>
英才小学,荫营中学,郊区一中,浙江大学
</td>
<td>
永劫无间
</td>
<td>
6
</td>
<td>

</td>
</tr>
<tr>
<td>
邵翔
</td>
<td>
山西省阳泉市郊区
</td>
<td>
英才小学,郊区一中,郊区一中,四川大学
</td>
<td>
王者荣耀,拼图
</td>
<td>
6
</td>
<td>
有智力类共同爱好 
</td>
</tr>
<tr>
<td>
国信宜
</td>
<td>
山西省阳泉市郊区
</td>
<td>
附小小学,荫营中学,三中,上海交通大学
</td>
<td>
拆装积木
</td>
<td>
6
</td>
<td>
有智力类共同爱好 
</td>
</tr>
<tr>
<td>
戈易胜
</td>
<td>
山西省阳泉市城区
</td>
<td>
上站小学,实验中学,十一中,华南理工大学
</td>
<td>
拼图,足球
</td>
<td>
5
</td>
<td>
有智力类共同爱好 
</td>
</tr>
<tr>
<td>
柯弘
</td>
<td>
山西省阳泉市城区
</td>
<td>
上站小学,七中,十五中,吉林大学
</td>
<td>
csgo,戏剧
</td>
<td>
5
</td>
<td>
同一高中 
</td>
</tr>
<tr>
<td>
方忠彪
</td>
<td>
山西省阳泉市郊区
</td>
<td>
英才小学,郊区一中,郊区一中,湖南大学
</td>
<td>
收藏扑克牌,拼图
</td>
<td>
5
</td>
<td>
有智力类共同爱好 
</td>
</tr>
<tr>
<td>
东方智纨
</td>
<td>
山西省阳泉市矿区
</td>
<td>
洪城河小学,十五中,一中,北京航空航天大学
</td>
<td>
王者荣耀
</td>
<td>
5
</td>
<td>

</td>
</tr>
<tr>
<td>
景安菁
</td>
<td>
山西省阳泉市郊区
</td>
<td>
附小小学,荫营中学,二中,中国科学技术大学
</td>
<td>
舞蹈剧,舞蹈剧
</td>
<td>
5
</td>
<td>
有智力类共同爱好 
</td>
</tr>
<tr>
<td>
欧阳萍
</td>
<td>
山西省阳泉市郊区
</td>
<td>
英才小学,荫营中学,二中,电子科技大学
</td>
<td>
收藏信封
</td>
<td>
5
</td>
<td>

</td>
</tr>
<tr>
<td>
谷宰磊
</td>
<td>
山西省阳泉市城区
</td>
<td>
新华小学,二中,一中,电子科技大学
</td>
<td>
拆装积木,折纸
</td>
<td>
5
</td>
<td>
有智力类共同爱好 
</td>
</tr>
<tr>
<td>
司寇歌美
</td>
<td>
山西省阳泉市平定县
</td>
<td>
熊猫小学,平定二中,平定一中,天津大学
</td>
<td>
举重,收藏扑克牌
</td>
<td>
5
</td>
<td>
同一小学 同一地区 
</td>
</tr>
<tr>
<td>
邵伯
</td>
<td>
山西省阳泉市城区
</td>
<td>
下站小学,三中,一中,武汉大学
</td>
<td>
音乐剧
</td>
<td>
5
</td>
<td>

</td>
</tr>
<tr>
<td>
郎梁
</td>
<td>
山西省阳泉市平定县
</td>
<td>
熊猫小学,平定三中,一中,北京大学
</td>
<td>
舞蹈,收藏扑克牌
</td>
<td>
5
</td>
<td>
同一小学 同一初中 同一地区 
</td>
</tr>
<tr>
<td>
滕志
</td>
<td>
山西省阳泉市矿区
</td>
<td>
三矿小学,十五中,十一中,中国海洋大学
</td>
<td>
弹吉他,兵乓球
</td>
<td>
5
</td>
<td>
有智力类共同爱好 有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
毛绍
</td>
<td>
山西省阳泉市平定县
</td>
<td>
熊猫小学,平定二中,十五中,东北大学
</td>
<td>
冬日计划,和平精英
</td>
<td>
4
</td>
<td>
同一小学 同一高中 同一地区 
</td>
</tr>
<tr>
<td>
沃忠伊
</td>
<td>
山西省阳泉市郊区
</td>
<td>
英才小学,荫营中学,十五中,浙江大学
</td>
<td>
舞蹈剧,品茶
</td>
<td>
4
</td>
<td>
同一高中 
</td>
</tr>
<tr>
<td>
郎忠哲
</td>
<td>
山西省阳泉市城区
</td>
<td>
下站小学,二中,十五中,清华大学
</td>
<td>
戏剧,收藏扑克牌
</td>
<td>
4
</td>
<td>
同一高中 
</td>
</tr>
<tr>
<td>
穆蓉
</td>
<td>
山西省阳泉市平定县
</td>
<td>
桃河小学,平定三中,十一中,东北大学
</td>
<td>
歌剧,跑步
</td>
<td>
4
</td>
<td>
同一初中 同一地区 
</td>
</tr>
<tr>
<td>
骆怡
</td>
<td>
山西省阳泉市矿区
</td>
<td>
四矿小学,三矿中学,郊区一中,中国科学技术大学
</td>
<td>
收藏小汽车,收藏笔
</td>
<td>
4
</td>
<td>

</td>
</tr>
<tr>
<td>
方楠
</td>
<td>
山西省阳泉市矿区
</td>
<td>
三矿小学,十一中,三中,四川大学
</td>
<td>
拆装积木
</td>
<td>
4
</td>
<td>
有智力类共同爱好 
</td>
</tr>
<tr>
<td>
龙卡元
</td>
<td>
山西省阳泉市郊区
</td>
<td>
附小小学,荫营中学,三中,重庆大学
</td>
<td>
冬日计划
</td>
<td>
4
</td>
<td>

</td>
</tr>
<tr>
<td>
鲁平
</td>
<td>
山西省阳泉市平定县
</td>
<td>
桃河小学,平定三中,三中,重庆大学
</td>
<td>
集邮,拼图
</td>
<td>
4
</td>
<td>
同一初中 同一地区 有智力类共同爱好 
</td>
</tr>
<tr>
<td>
殷中良
</td>
<td>
山西省阳泉市平定县
</td>
<td>
志华小学,平定二中,郊区一中,大连理工大学
</td>
<td>
戏剧
</td>
<td>
4
</td>
<td>
同一地区 
</td>
</tr>
<tr>
<td>
彭之
</td>
<td>
山西省阳泉市城区
</td>
<td>
下站小学,四中,一中,西北工业大学
</td>
<td>
拼图
</td>
<td>
4
</td>
<td>
有智力类共同爱好 
</td>
</tr>
<tr>
<td>
通燕
</td>
<td>
山西省阳泉市平定县
</td>
<td>
志华小学,平定三中,三中,四川大学
</td>
<td>
收藏卡牌
</td>
<td>
4
</td>
<td>
同一初中 同一地区 
</td>
</tr>
<tr>
<td>
冀荷
</td>
<td>
山西省阳泉市平定县
</td>
<td>
桃河小学,平定二中,十五中,重庆大学
</td>
<td>
笛子,戏剧
</td>
<td>
4
</td>
<td>
同一高中 同一地区 有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
邓信毅
</td>
<td>
山西省阳泉市矿区
</td>
<td>
四矿小学,二矿中学,三中,天津大学
</td>
<td>
羽毛球
</td>
<td>
4
</td>
<td>

</td>
</tr>
<tr>
<td>
山辰
</td>
<td>
山西省阳泉市平定县
</td>
<td>
熊猫小学,平定二中,平定一中,南京大学
</td>
<td>
收藏书签,舞蹈
</td>
<td>
4
</td>
<td>
同一小学 同一地区 有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
粱珊
</td>
<td>
山西省阳泉市城区
</td>
<td>
实验小学,三中,三中,厦门大学
</td>
<td>
舞蹈
</td>
<td>
4
</td>
<td>

</td>
</tr>
<tr>
<td>
牛九壮
</td>
<td>
山西省阳泉市郊区
</td>
<td>
附小小学,郊区一中,一中,哈尔滨工业大学
</td>
<td>
收藏信封,收藏卡牌
</td>
<td>
4
</td>
<td>

</td>
</tr>
<tr>
<td>
徐贝清
</td>
<td>
山西省阳泉市平定县
</td>
<td>
桃河小学,平定三中,十五中,华中科技大学
</td>
<td>
吹箫,滑旱冰
</td>
<td>
4
</td>
<td>
同一初中 同一高中 同一地区 有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
丘左宏
</td>
<td>
山西省阳泉市矿区
</td>
<td>
二矿小学,四矿中学,郊区一中,北京航空航天大学
</td>
<td>
戏剧,葫芦丝
</td>
<td>
4
</td>
<td>
有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
霍辰
</td>
<td>
山西省阳泉市城区
</td>
<td>
上站小学,二中,十五中,武汉大学
</td>
<td>
吹箫,滑板
</td>
<td>
4
</td>
<td>
同一高中 有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
钟筠
</td>
<td>
山西省阳泉市矿区
</td>
<td>
三矿小学,十一中,十一中,大连理工大学
</td>
<td>
插画,永劫无间
</td>
<td>
4
</td>
<td>
有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
孟勤
</td>
<td>
山西省阳泉市平定县
</td>
<td>
桃河小学,平定三中,一中,大连理工大学
</td>
<td>
跳绳,拆装积木
</td>
<td>
4
</td>
<td>
同一初中 同一地区 有智力类共同爱好 
</td>
</tr>
<tr>
<td>
应笑艺
</td>
<td>
山西省阳泉市平定县
</td>
<td>
熊猫小学,平定二中,十一中,北京师范大学
</td>
<td>
戏剧,品茶
</td>
<td>
4
</td>
<td>
同一小学 同一地区 
</td>
</tr>
<tr>
<td>
程忠兰
</td>
<td>
山西省阳泉市城区
</td>
<td>
实验小学,四中,一中,中国海洋大学
</td>
<td>
举重,篮球
</td>
<td>
4
</td>
<td>

</td>
</tr>
<tr>
<td>
单琦
</td>
<td>
山西省阳泉市平定县
</td>
<td>
桃河小学,平定二中,平定一中,华中科技大学
</td>
<td>
音乐剧,收藏扑克牌
</td>
<td>
4
</td>
<td>
同一地区 
</td>
</tr>
<tr>
<td>
臧亨
</td>
<td>
山西省阳泉市矿区
</td>
<td>
三矿小学,二矿中学,二中,华南理工大学
</td>
<td>
csgo,明日方舟
</td>
<td>
4
</td>
<td>
有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
殴凯伯
</td>
<td>
山西省阳泉市城区
</td>
<td>
实验小学,四中,十一中,厦门大学
</td>
<td>
怪猎
</td>
<td>
4
</td>
<td>

</td>
</tr>
<tr>
<td>
晏器松
</td>
<td>
山西省阳泉市矿区
</td>
<td>
三矿小学,二矿中学,三中,厦门大学
</td>
<td>
拆装积木,弹吉他
</td>
<td>
4
</td>
<td>
有智力类共同爱好 有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
慕容加翔
</td>
<td>
山西省阳泉市平定县
</td>
<td>
志华小学,平定二中,平定一中,中国人民大学
</td>
<td>
小号,弹吉他
</td>
<td>
4
</td>
<td>
同一地区 有乐器类共同爱好 有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
苏生
</td>
<td>
山西省阳泉市矿区
</td>
<td>
二矿小学,十五中,三中,吉林大学
</td>
<td>
吹箫,折纸
</td>
<td>
3
</td>
<td>
有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
徐巧
</td>
<td>
山西省阳泉市平定县
</td>
<td>
熊猫小学,平定三中,三中,中山大学
</td>
<td>
舞蹈,跑步
</td>
<td>
3
</td>
<td>
同一小学 同一初中 同一地区 
</td>
</tr>
<tr>
<td>
潘东
</td>
<td>
山西省阳泉市城区
</td>
<td>
新华小学,六中,三中,山东大学
</td>
<td>
和平精英,人类一败涂地
</td>
<td>
3
</td>
<td>

</td>
</tr>
<tr>
<td>
傅九若
</td>
<td>
山西省阳泉市矿区
</td>
<td>
洪城河小学,四矿中学,一中,北京师范大学
</td>
<td>
吹箫,唱歌
</td>
<td>
3
</td>
<td>
有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
仇雅
</td>
<td>
山西省阳泉市郊区
</td>
<td>
英才小学,荫营中学,平定一中,四川大学
</td>
<td>
小提琴
</td>
<td>
3
</td>
<td>
有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
司寇寒
</td>
<td>
山西省阳泉市郊区
</td>
<td>
英才小学,郊区二中,十五中,南开大学
</td>
<td>
刺激战场,收藏信封
</td>
<td>
3
</td>
<td>
同一高中 
</td>
</tr>
<tr>
<td>
平才
</td>
<td>
山西省阳泉市矿区
</td>
<td>
洪城河小学,三矿中学,二中,北京师范大学
</td>
<td>
兵乓球
</td>
<td>
3
</td>
<td>

</td>
</tr>
<tr>
<td>
鲍姬
</td>
<td>
山西省阳泉市郊区
</td>
<td>
英才小学,郊区一中,平定一中,清华大学
</td>
<td>
收藏信封
</td>
<td>
3
</td>
<td>

</td>
</tr>
<tr>
<td>
倪若
</td>
<td>
山西省阳泉市平定县
</td>
<td>
熊猫小学,平定三中,一中,兰州大学
</td>
<td>
拼图,跳绳
</td>
<td>
3
</td>
<td>
同一小学 同一初中 同一大学 同一地区 有智力类共同爱好 
</td>
</tr>
<tr>
<td>
陆毓
</td>
<td>
山西省阳泉市矿区
</td>
<td>
三矿小学,十一中,十五中,武汉大学
</td>
<td>
收藏小汽车,拆装积木
</td>
<td>
3
</td>
<td>
同一高中 有智力类共同爱好 
</td>
</tr>
<tr>
<td>
燕礼成
</td>
<td>
山西省阳泉市矿区
</td>
<td>
四矿小学,十一中,十五中,北京大学
</td>
<td>
滑板,apex
</td>
<td>
3
</td>
<td>
同一高中 有智力类共同爱好 
</td>
</tr>
<tr>
<td>
乔歌义
</td>
<td>
山西省阳泉市矿区
</td>
<td>
二矿小学,四矿中学,平定一中,北京理工大学
</td>
<td>
收藏扑克牌,读书
</td>
<td>
3
</td>
<td>

</td>
</tr>
<tr>
<td>
孟玉香
</td>
<td>
山西省阳泉市矿区
</td>
<td>
二矿小学,十五中,十一中,北京理工大学
</td>
<td>
举重
</td>
<td>
3
</td>
<td>

</td>
</tr>
<tr>
<td>
童中敬
</td>
<td>
山西省阳泉市矿区
</td>
<td>
二矿小学,十一中,郊区一中,山东大学
</td>
<td>
弹吉他,csgo
</td>
<td>
3
</td>
<td>
有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
姜弘
</td>
<td>
山西省阳泉市城区
</td>
<td>
新华小学,七中,郊区一中,中国科学技术大学
</td>
<td>
弹吉他
</td>
<td>
3
</td>
<td>
有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
罗力
</td>
<td>
山西省阳泉市郊区
</td>
<td>
育才小学,荫营中学,三中,中国人民大学
</td>
<td>
英雄联盟
</td>
<td>
3
</td>
<td>

</td>
</tr>
<tr>
<td>
吴歌飞
</td>
<td>
山西省阳泉市城区
</td>
<td>
上站小学,实验中学,郊区一中,兰州大学
</td>
<td>
小提琴,收藏扑克牌
</td>
<td>
3
</td>
<td>
同一大学 有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
齐天腾
</td>
<td>
山西省阳泉市郊区
</td>
<td>
育才小学,郊区二中,三中,武汉大学
</td>
<td>
折纸,萨克斯
</td>
<td>
3
</td>
<td>
有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
晏光
</td>
<td>
山西省阳泉市城区
</td>
<td>
实验小学,三中,二中,重庆大学
</td>
<td>
剪纸,唱歌
</td>
<td>
3
</td>
<td>
有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
叶春
</td>
<td>
山西省阳泉市城区
</td>
<td>
新华小学,六中,十一中,中国人民大学
</td>
<td>
举重,滑板
</td>
<td>
3
</td>
<td>

</td>
</tr>
<tr>
<td>
仲孙聪
</td>
<td>
山西省阳泉市矿区
</td>
<td>
洪城河小学,十五中,平定一中,浙江大学
</td>
<td>
舞蹈剧,钢琴
</td>
<td>
3
</td>
<td>
有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
左天宁
</td>
<td>
山西省阳泉市郊区
</td>
<td>
英才小学,郊区一中,二中,中山大学
</td>
<td>
读书,吹箫
</td>
<td>
3
</td>
<td>
有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
安信雄
</td>
<td>
山西省阳泉市郊区
</td>
<td>
附小小学,郊区一中,三中,同济大学
</td>
<td>
小号
</td>
<td>
3
</td>
<td>
有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
阮璐
</td>
<td>
山西省阳泉市城区
</td>
<td>
下站小学,三中,十五中,厦门大学
</td>
<td>
音乐剧,小号
</td>
<td>
3
</td>
<td>
同一高中 有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
詹安勇
</td>
<td>
山西省阳泉市平定县
</td>
<td>
桃河小学,平定二中,一中,北京师范大学
</td>
<td>
收藏书签,音乐剧
</td>
<td>
2
</td>
<td>
同一地区 有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
和钰庆
</td>
<td>
山西省阳泉市郊区
</td>
<td>
育才小学,荫营中学,二中,西北工业大学
</td>
<td>
戏剧
</td>
<td>
2
</td>
<td>

</td>
</tr>
<tr>
<td>
羊芬
</td>
<td>
山西省阳泉市郊区
</td>
<td>
英才小学,郊区二中,二中,四川大学
</td>
<td>
葫芦丝,明日方舟
</td>
<td>
2
</td>
<td>
有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
卞天娅
</td>
<td>
山西省阳泉市郊区
</td>
<td>
附小小学,郊区一中,十一中,复旦大学
</td>
<td>
大号
</td>
<td>
2
</td>
<td>
有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
黄贝苑
</td>
<td>
山西省阳泉市矿区
</td>
<td>
四矿小学,十五中,郊区一中,华中科技大学
</td>
<td>
明日方舟,明日方舟
</td>
<td>
2
</td>
<td>

</td>
</tr>
<tr>
<td>
司马祥
</td>
<td>
山西省阳泉市城区
</td>
<td>
下站小学,四中,十五中,中国科学技术大学
</td>
<td>
折纸,插画
</td>
<td>
2
</td>
<td>
同一高中 
</td>
</tr>
<tr>
<td>
陶忠炎
</td>
<td>
山西省阳泉市矿区
</td>
<td>
二矿小学,三矿中学,十五中,重庆大学
</td>
<td>
笛子,人类一败涂地
</td>
<td>
2
</td>
<td>
同一高中 有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
良拓真
</td>
<td>
山西省阳泉市平定县
</td>
<td>
桃河小学,平定三中,一中,华中科技大学
</td>
<td>
拼图,弹吉他
</td>
<td>
2
</td>
<td>
同一初中 同一地区 有智力类共同爱好 有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
弓婉
</td>
<td>
山西省阳泉市城区
</td>
<td>
新华小学,七中,一中,电子科技大学
</td>
<td>
插画
</td>
<td>
2
</td>
<td>

</td>
</tr>
<tr>
<td>
缪娜
</td>
<td>
山西省阳泉市城区
</td>
<td>
新华小学,二中,平定一中,西安交通大学
</td>
<td>
大号
</td>
<td>
2
</td>
<td>
有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
仲孙贝思
</td>
<td>
山西省阳泉市平定县
</td>
<td>
熊猫小学,平定二中,二中,复旦大学
</td>
<td>
刺激战场,歌剧
</td>
<td>
2
</td>
<td>
同一小学 同一地区 
</td>
</tr>
<tr>
<td>
和轮
</td>
<td>
山西省阳泉市矿区
</td>
<td>
洪城河小学,四矿中学,郊区一中,天津大学
</td>
<td>
舞蹈,收藏小汽车
</td>
<td>
2
</td>
<td>

</td>
</tr>
<tr>
<td>
贺娴
</td>
<td>
山西省阳泉市郊区
</td>
<td>
育才小学,郊区一中,二中,东南大学
</td>
<td>
刺激战场,品茶
</td>
<td>
2
</td>
<td>
有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
文都莎
</td>
<td>
山西省阳泉市郊区
</td>
<td>
英才小学,郊区一中,一中,同济大学
</td>
<td>
音乐剧,收藏卡牌
</td>
<td>
2
</td>
<td>

</td>
</tr>
<tr>
<td>
司钰勤
</td>
<td>
山西省阳泉市平定县
</td>
<td>
熊猫小学,平定三中,三中,吉林大学
</td>
<td>
拼图
</td>
<td>
2
</td>
<td>
同一小学 同一初中 同一地区 有智力类共同爱好 
</td>
</tr>
<tr>
<td>
文天泰
</td>
<td>
山西省阳泉市矿区
</td>
<td>
四矿小学,四矿中学,十一中,大连理工大学
</td>
<td>
弹吉他,葫芦丝
</td>
<td>
2
</td>
<td>
有乐器类共同爱好 有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
莘梦
</td>
<td>
山西省阳泉市郊区
</td>
<td>
英才小学,荫营中学,十五中,北京师范大学
</td>
<td>
唱歌,拼图
</td>
<td>
2
</td>
<td>
同一高中 有智力类共同爱好 
</td>
</tr>
<tr>
<td>
家钰香
</td>
<td>
山西省阳泉市城区
</td>
<td>
新华小学,三中,郊区一中,电子科技大学
</td>
<td>
笛子
</td>
<td>
2
</td>
<td>
有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
郎进
</td>
<td>
山西省阳泉市郊区
</td>
<td>
英才小学,郊区一中,二中,上海交通大学
</td>
<td>
拆装积木,吹箫
</td>
<td>
2
</td>
<td>
有智力类共同爱好 有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
干笑敬
</td>
<td>
山西省阳泉市郊区
</td>
<td>
英才小学,荫营中学,十五中,武汉大学
</td>
<td>
收藏扑克牌
</td>
<td>
2
</td>
<td>
同一高中 
</td>
</tr>
<tr>
<td>
房钰馨
</td>
<td>
山西省阳泉市城区
</td>
<td>
上站小学,实验中学,郊区一中,中南大学
</td>
<td>
收藏手表
</td>
<td>
2
</td>
<td>

</td>
</tr>
<tr>
<td>
桂莉
</td>
<td>
山西省阳泉市平定县
</td>
<td>
熊猫小学,平定三中,郊区一中,西安交通大学
</td>
<td>
音乐剧
</td>
<td>
2
</td>
<td>
同一小学 同一初中 同一地区 
</td>
</tr>
<tr>
<td>
冉亚
</td>
<td>
山西省阳泉市郊区
</td>
<td>
育才小学,荫营中学,十一中,西北工业大学
</td>
<td>
王者荣耀,涂鸦
</td>
<td>
2
</td>
<td>

</td>
</tr>
<tr>
<td>
丁勇
</td>
<td>
山西省阳泉市城区
</td>
<td>
实验小学,实验中学,一中,西北工业大学
</td>
<td>
收藏信封,剪纸
</td>
<td>
2
</td>
<td>

</td>
</tr>
<tr>
<td>
曹贝纯
</td>
<td>
山西省阳泉市城区
</td>
<td>
下站小学,三中,一中,武汉大学
</td>
<td>
拆装积木,举重
</td>
<td>
2
</td>
<td>
有智力类共同爱好 
</td>
</tr>
<tr>
<td>
韦金时
</td>
<td>
山西省阳泉市平定县
</td>
<td>
志华小学,平定三中,十五中,北京师范大学
</td>
<td>
剪纸,舞蹈
</td>
<td>
2
</td>
<td>
同一初中 同一高中 同一地区 
</td>
</tr>
<tr>
<td>
狄信鸣
</td>
<td>
山西省阳泉市城区
</td>
<td>
下站小学,七中,十五中,电子科技大学
</td>
<td>
滑板,兵乓球
</td>
<td>
2
</td>
<td>
同一高中 
</td>
</tr>
<tr>
<td>
龚笑昭
</td>
<td>
山西省阳泉市平定县
</td>
<td>
熊猫小学,平定二中,平定一中,东北大学
</td>
<td>
拆装积木,音乐剧
</td>
<td>
2
</td>
<td>
同一小学 同一地区 有智力类共同爱好 
</td>
</tr>
<tr>
<td>
万琴
</td>
<td>
山西省阳泉市城区
</td>
<td>
下站小学,四中,十五中,重庆大学
</td>
<td>
吹箫,王者荣耀
</td>
<td>
2
</td>
<td>
同一高中 有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
盖凯武
</td>
<td>
山西省阳泉市城区
</td>
<td>
新华小学,三中,一中,北京师范大学
</td>
<td>
读书
</td>
<td>
2
</td>
<td>

</td>
</tr>
<tr>
<td>
舌微炎
</td>
<td>
山西省阳泉市城区
</td>
<td>
下站小学,六中,十一中,北京师范大学
</td>
<td>
人类一败涂地,收藏笔
</td>
<td>
2
</td>
<td>

</td>
</tr>
<tr>
<td>
尹毓
</td>
<td>
山西省阳泉市郊区
</td>
<td>
英才小学,郊区一中,二中,华南理工大学
</td>
<td>
吹箫
</td>
<td>
2
</td>
<td>
有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
盖裕
</td>
<td>
山西省阳泉市矿区
</td>
<td>
三矿小学,二矿中学,二中,复旦大学
</td>
<td>
跑步,插画
</td>
<td>
2
</td>
<td>

</td>
</tr>
<tr>
<td>
孙歌达
</td>
<td>
山西省阳泉市郊区
</td>
<td>
育才小学,荫营中学,三中,东北大学
</td>
<td>
冬日计划,读书
</td>
<td>
2
</td>
<td>

</td>
</tr>
<tr>
<td>
里东全
</td>
<td>
山西省阳泉市郊区
</td>
<td>
育才小学,郊区一中,十一中,厦门大学
</td>
<td>
拼图,拆装积木
</td>
<td>
2
</td>
<td>
有智力类共同爱好 有智力类共同爱好 
</td>
</tr>
<tr>
<td>
郁九亚
</td>
<td>
山西省阳泉市矿区
</td>
<td>
三矿小学,二矿中学,十一中,厦门大学
</td>
<td>
收藏手表,举重
</td>
<td>
2
</td>
<td>
有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
郁宜
</td>
<td>
山西省阳泉市矿区
</td>
<td>
三矿小学,二矿中学,三中,兰州大学
</td>
<td>
钢琴,足球
</td>
<td>
2
</td>
<td>
同一大学 有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
凤都仪
</td>
<td>
山西省阳泉市平定县
</td>
<td>
桃河小学,平定三中,二中,大连理工大学
</td>
<td>
拆装积木,折纸
</td>
<td>
2
</td>
<td>
同一初中 同一地区 有智力类共同爱好 
</td>
</tr>
<tr>
<td>
都萍
</td>
<td>
山西省阳泉市矿区
</td>
<td>
四矿小学,十五中,郊区一中,大连理工大学
</td>
<td>
羽毛球,冬日计划
</td>
<td>
2
</td>
<td>

</td>
</tr>
<tr>
<td>
松航
</td>
<td>
山西省阳泉市矿区
</td>
<td>
二矿小学,二矿中学,三中,北京师范大学
</td>
<td>
萨克斯,举重
</td>
<td>
2
</td>
<td>
有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
戈笑致
</td>
<td>
山西省阳泉市矿区
</td>
<td>
二矿小学,四矿中学,三中,哈尔滨工业大学
</td>
<td>
apex
</td>
<td>
2
</td>
<td>

</td>
</tr>
<tr>
<td>
郝良
</td>
<td>
山西省阳泉市平定县
</td>
<td>
熊猫小学,平定三中,一中,兰州大学
</td>
<td>
跑步,跳绳
</td>
<td>
2
</td>
<td>
同一小学 同一初中 同一大学 同一地区 有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
刘生
</td>
<td>
山西省阳泉市矿区
</td>
<td>
二矿小学,二矿中学,十五中,西北工业大学
</td>
<td>
王者荣耀,apex
</td>
<td>
2
</td>
<td>
同一高中 有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
韦冠
</td>
<td>
山西省阳泉市平定县
</td>
<td>
志华小学,平定三中,十五中,电子科技大学
</td>
<td>
收藏笔,品茶
</td>
<td>
2
</td>
<td>
同一初中 同一高中 同一地区 
</td>
</tr>
<tr>
<td>
轩辕笑枝
</td>
<td>
山西省阳泉市城区
</td>
<td>
上站小学,二中,二中,湖南大学
</td>
<td>
怪猎,收藏笔
</td>
<td>
1
</td>
<td>

</td>
</tr>
<tr>
<td>
龚才
</td>
<td>
山西省阳泉市平定县
</td>
<td>
熊猫小学,平定二中,三中,兰州大学
</td>
<td>
英雄联盟
</td>
<td>
1
</td>
<td>
同一小学 同一大学 同一地区 
</td>
</tr>
<tr>
<td>
通健
</td>
<td>
山西省阳泉市矿区
</td>
<td>
洪城河小学,四矿中学,郊区一中,厦门大学
</td>
<td>
拆装积木
</td>
<td>
1
</td>
<td>
有智力类共同爱好 
</td>
</tr>
<tr>
<td>
习昭
</td>
<td>
山西省阳泉市城区
</td>
<td>
下站小学,四中,二中,中国人民大学
</td>
<td>
剪纸
</td>
<td>
1
</td>
<td>

</td>
</tr>
<tr>
<td>
戈淑
</td>
<td>
山西省阳泉市矿区
</td>
<td>
四矿小学,三矿中学,郊区一中,南京大学
</td>
<td>
冬日计划
</td>
<td>
1
</td>
<td>

</td>
</tr>
<tr>
<td>
曹羽
</td>
<td>
山西省阳泉市平定县
</td>
<td>
志华小学,平定二中,十一中,中国海洋大学
</td>
<td>
收藏书签,收藏小汽车
</td>
<td>
1
</td>
<td>
同一地区 
</td>
</tr>
<tr>
<td>
木巫荔
</td>
<td>
山西省阳泉市平定县
</td>
<td>
熊猫小学,平定二中,三中,南开大学
</td>
<td>
涂鸦,弹吉他
</td>
<td>
1
</td>
<td>
同一小学 同一地区 有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
殴天壮
</td>
<td>
山西省阳泉市城区
</td>
<td>
上站小学,四中,十一中,天津大学
</td>
<td>
拆装积木,折纸
</td>
<td>
1
</td>
<td>
有智力类共同爱好 
</td>
</tr>
<tr>
<td>
林诚
</td>
<td>
山西省阳泉市郊区
</td>
<td>
附小小学,荫营中学,三中,南京大学
</td>
<td>
笛子
</td>
<td>
1
</td>
<td>
有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
汪信超
</td>
<td>
山西省阳泉市郊区
</td>
<td>
附小小学,郊区一中,郊区一中,中山大学
</td>
<td>
收藏笔,拼图
</td>
<td>
1
</td>
<td>
有智力类共同爱好 有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
钱玉眉
</td>
<td>
山西省阳泉市郊区
</td>
<td>
英才小学,郊区一中,郊区一中,四川大学
</td>
<td>
收藏笔
</td>
<td>
1
</td>
<td>

</td>
</tr>
<tr>
<td>
任礼美
</td>
<td>
山西省阳泉市郊区
</td>
<td>
附小小学,郊区一中,三中,北京大学
</td>
<td>
跑步,品茶
</td>
<td>
1
</td>
<td>
有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
靳友萍
</td>
<td>
山西省阳泉市平定县
</td>
<td>
桃河小学,平定三中,十五中,复旦大学
</td>
<td>
大号,涂鸦
</td>
<td>
1
</td>
<td>
同一初中 同一高中 同一地区 有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
杜友悦
</td>
<td>
山西省阳泉市平定县
</td>
<td>
熊猫小学,平定二中,郊区一中,浙江大学
</td>
<td>
收藏扑克牌
</td>
<td>
1
</td>
<td>
同一小学 同一地区 
</td>
</tr>
<tr>
<td>
桓天厚
</td>
<td>
山西省阳泉市矿区
</td>
<td>
洪城河小学,十五中,二中,华南理工大学
</td>
<td>
拆装积木,舞蹈
</td>
<td>
1
</td>
<td>
有智力类共同爱好 有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
潘有
</td>
<td>
山西省阳泉市平定县
</td>
<td>
熊猫小学,平定三中,十一中,华南理工大学
</td>
<td>
人类一败涂地
</td>
<td>
1
</td>
<td>
同一小学 同一初中 同一地区 
</td>
</tr>
<tr>
<td>
房林
</td>
<td>
山西省阳泉市城区
</td>
<td>
新华小学,二中,二中,山东大学
</td>
<td>
音乐剧
</td>
<td>
1
</td>
<td>

</td>
</tr>
<tr>
<td>
贾宁
</td>
<td>
山西省阳泉市城区
</td>
<td>
新华小学,三中,十一中,山东大学
</td>
<td>
apex,拼图
</td>
<td>
1
</td>
<td>
有智力类共同爱好 有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
都金春
</td>
<td>
山西省阳泉市郊区
</td>
<td>
育才小学,荫营中学,十五中,厦门大学
</td>
<td>
收藏书签,跳绳
</td>
<td>
1
</td>
<td>
同一高中 有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
童莺
</td>
<td>
山西省阳泉市郊区
</td>
<td>
育才小学,郊区二中,十五中,清华大学
</td>
<td>
怪猎,人类一败涂地
</td>
<td>
1
</td>
<td>
同一高中 
</td>
</tr>
<tr>
<td>
水雪
</td>
<td>
山西省阳泉市矿区
</td>
<td>
三矿小学,十五中,三中,电子科技大学
</td>
<td>
拼图,拆装积木
</td>
<td>
1
</td>
<td>
有智力类共同爱好 有智力类共同爱好 有智力类共同爱好 
</td>
</tr>
<tr>
<td>
袁钰萍
</td>
<td>
山西省阳泉市矿区
</td>
<td>
二矿小学,二矿中学,十一中,西安交通大学
</td>
<td>
收藏信封,收藏扑克牌
</td>
<td>
1
</td>
<td>

</td>
</tr>
<tr>
<td>
杜玉琛
</td>
<td>
山西省阳泉市矿区
</td>
<td>
三矿小学,十五中,二中,东南大学
</td>
<td>
拆装积木
</td>
<td>
1
</td>
<td>
有智力类共同爱好 
</td>
</tr>
<tr>
<td>
郁智元
</td>
<td>
山西省阳泉市郊区
</td>
<td>
育才小学,郊区一中,平定一中,中国人民大学
</td>
<td>
唱歌,舞蹈剧
</td>
<td>
1
</td>
<td>

</td>
</tr>
<tr>
<td>
诸葛全
</td>
<td>
山西省阳泉市平定县
</td>
<td>
熊猫小学,平定二中,一中,四川大学
</td>
<td>
拆装积木,舞蹈剧
</td>
<td>
1
</td>
<td>
同一小学 同一地区 有智力类共同爱好 
</td>
</tr>
<tr>
<td>
邱凯会
</td>
<td>
山西省阳泉市城区
</td>
<td>
新华小学,四中,一中,中国人民大学
</td>
<td>
小提琴,兵乓球
</td>
<td>
1
</td>
<td>
有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
里东贝薇
</td>
<td>
山西省阳泉市矿区
</td>
<td>
四矿小学,十一中,三中,中国科学技术大学
</td>
<td>
涂鸦
</td>
<td>
1
</td>
<td>

</td>
</tr>
<tr>
<td>
巴九世
</td>
<td>
山西省阳泉市矿区
</td>
<td>
四矿小学,三矿中学,平定一中,中国科学技术大学
</td>
<td>
大号,和平精英
</td>
<td>
1
</td>
<td>
有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
郝忠坚
</td>
<td>
山西省阳泉市矿区
</td>
<td>
二矿小学,十一中,一中,天津大学
</td>
<td>
歌剧,钢琴
</td>
<td>
1
</td>
<td>
有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
祁瑗
</td>
<td>
山西省阳泉市矿区
</td>
<td>
三矿小学,三矿中学,十一中,中国人民大学
</td>
<td>
收藏信封,篮球
</td>
<td>
1
</td>
<td>

</td>
</tr>
<tr>
<td>
干百华
</td>
<td>
山西省阳泉市矿区
</td>
<td>
二矿小学,四矿中学,平定一中,南开大学
</td>
<td>
收藏信封,收藏笔
</td>
<td>
1
</td>
<td>

</td>
</tr>
<tr>
<td>
储义婷
</td>
<td>
山西省阳泉市郊区
</td>
<td>
附小小学,郊区一中,十一中,复旦大学
</td>
<td>
收藏书签
</td>
<td>
1
</td>
<td>

</td>
</tr>
<tr>
<td>
柯燕
</td>
<td>
山西省阳泉市平定县
</td>
<td>
志华小学,平定二中,十五中,中国科学技术大学
</td>
<td>
萨克斯,拆装积木
</td>
<td>
1
</td>
<td>
同一高中 同一地区 有智力类共同爱好 有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
都礼学
</td>
<td>
山西省阳泉市郊区
</td>
<td>
附小小学,郊区二中,一中,中国科学技术大学
</td>
<td>
拆装积木,收藏小汽车
</td>
<td>
1
</td>
<td>
有智力类共同爱好 
</td>
</tr>
<tr>
<td>
平豪
</td>
<td>
山西省阳泉市郊区
</td>
<td>
育才小学,荫营中学,平定一中,厦门大学
</td>
<td>
拼图
</td>
<td>
1
</td>
<td>
有智力类共同爱好 
</td>
</tr>
<tr>
<td>
唐可
</td>
<td>
山西省阳泉市郊区
</td>
<td>
英才小学,荫营中学,三中,南京大学
</td>
<td>
收藏小汽车,和平精英
</td>
<td>
1
</td>
<td>

</td>
</tr>
<tr>
<td>
尤岚
</td>
<td>
山西省阳泉市平定县
</td>
<td>
志华小学,平定三中,郊区一中,吉林大学
</td>
<td>
滑板,涂鸦
</td>
<td>
1
</td>
<td>
同一初中 同一地区 
</td>
</tr>
<tr>
<td>
丘左器旭
</td>
<td>
山西省阳泉市郊区
</td>
<td>
育才小学,郊区一中,郊区一中,湖南大学
</td>
<td>
滑板,小号
</td>
<td>
1
</td>
<td>
有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
步国
</td>
<td>
山西省阳泉市矿区
</td>
<td>
四矿小学,三矿中学,一中,东南大学
</td>
<td>
品茶,收藏手表
</td>
<td>
1
</td>
<td>

</td>
</tr>
<tr>
<td>
蔡钰才
</td>
<td>
山西省阳泉市郊区
</td>
<td>
附小小学,荫营中学,一中,复旦大学
</td>
<td>
歌剧,明日方舟
</td>
<td>
1
</td>
<td>

</td>
</tr>
<tr>
<td>
卞时
</td>
<td>
山西省阳泉市城区
</td>
<td>
实验小学,七中,二中,北京航空航天大学
</td>
<td>
羽毛球,王者荣耀
</td>
<td>
1
</td>
<td>

</td>
</tr>
<tr>
<td>
姜世
</td>
<td>
山西省阳泉市矿区
</td>
<td>
洪城河小学,十五中,二中,北京大学
</td>
<td>
怪猎,收藏卡牌
</td>
<td>
1
</td>
<td>

</td>
</tr>
<tr>
<td>
阮钰澜
</td>
<td>
山西省阳泉市矿区
</td>
<td>
二矿小学,十一中,二中,西安交通大学
</td>
<td>
永劫无间
</td>
<td>
1
</td>
<td>

</td>
</tr>
<tr>
<td>
舌微佳
</td>
<td>
山西省阳泉市平定县
</td>
<td>
志华小学,平定二中,三中,大连理工大学
</td>
<td>
拼图
</td>
<td>
1
</td>
<td>
同一地区 有智力类共同爱好 
</td>
</tr>
<tr>
<td>
仇娣
</td>
<td>
山西省阳泉市郊区
</td>
<td>
英才小学,荫营中学,十五中,南京大学
</td>
<td>
小号
</td>
<td>
-3
</td>
<td>
同一高中 有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
公孙都蓉
</td>
<td>
山西省阳泉市平定县
</td>
<td>
桃河小学,平定三中,平定一中,华中科技大学
</td>
<td>
收藏卡牌
</td>
<td>
-3
</td>
<td>
同一初中 同一地区 
</td>
</tr>
<tr>
<td>
姬卿
</td>
<td>
山西省阳泉市郊区
</td>
<td>
附小小学,郊区一中,三中,湖南大学
</td>
<td>
戏剧,拆装积木
</td>
<td>
-3
</td>
<td>
有智力类共同爱好 有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
鲜于峰
</td>
<td>
山西省阳泉市郊区
</td>
<td>
英才小学,郊区一中,十五中,南京大学
</td>
<td>
吹箫,小号
</td>
<td>
-3
</td>
<td>
同一高中 有乐器类共同爱好 有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
席都生
</td>
<td>
山西省阳泉市矿区
</td>
<td>
二矿小学,四矿中学,三中,电子科技大学
</td>
<td>
滑板,剪纸
</td>
<td>
-3
</td>
<td>

</td>
</tr>
<tr>
<td>
桂易之
</td>
<td>
山西省阳泉市矿区
</td>
<td>
洪城河小学,十一中,十一中,西北工业大学
</td>
<td>
拼图,吹箫
</td>
<td>
-3
</td>
<td>
有智力类共同爱好 有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
申屠佳
</td>
<td>
山西省阳泉市郊区
</td>
<td>
英才小学,郊区二中,平定一中,兰州大学
</td>
<td>
收藏书签,拆装积木
</td>
<td>
-3
</td>
<td>
同一大学 有智力类共同爱好 
</td>
</tr>
<tr>
<td>
华壮
</td>
<td>
山西省阳泉市平定县
</td>
<td>
志华小学,平定二中,一中,湖南大学
</td>
<td>
舞蹈,插画
</td>
<td>
-3
</td>
<td>
同一地区 有智力类共同爱好 
</td>
</tr>
<tr>
<td>
红贵
</td>
<td>
山西省阳泉市平定县
</td>
<td>
熊猫小学,平定二中,三中,重庆大学
</td>
<td>
举重,笛子
</td>
<td>
-3
</td>
<td>
同一小学 同一地区 有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
粱华
</td>
<td>
山西省阳泉市郊区
</td>
<td>
附小小学,郊区一中,三中,华中科技大学
</td>
<td>
拼图,apex
</td>
<td>
-3
</td>
<td>
有智力类共同爱好 
</td>
</tr>
<tr>
<td>
季力
</td>
<td>
山西省阳泉市平定县
</td>
<td>
志华小学,平定二中,十一中,中山大学
</td>
<td>
收藏手表,永劫无间
</td>
<td>
-3
</td>
<td>
同一地区 
</td>
</tr>
<tr>
<td>
门西莎
</td>
<td>
山西省阳泉市平定县
</td>
<td>
熊猫小学,平定二中,三中,天津大学
</td>
<td>
收藏手表,拼图
</td>
<td>
-3
</td>
<td>
同一小学 同一地区 有智力类共同爱好 
</td>
</tr>
<tr>
<td>
滑加翠
</td>
<td>
山西省阳泉市矿区
</td>
<td>
洪城河小学,十一中,十一中,湖南大学
</td>
<td>
歌剧
</td>
<td>
-3
</td>
<td>

</td>
</tr>
<tr>
<td>
诸葛胜
</td>
<td>
山西省阳泉市平定县
</td>
<td>
熊猫小学,平定二中,平定一中,南京大学
</td>
<td>
吹箫,拼图
</td>
<td>
-3
</td>
<td>
同一小学 同一地区 有智力类共同爱好 有乐器类共同爱好 
</td>
</tr>
<tr>
<td>
宰卡航
</td>
<td>
山西省阳泉市郊区
</td>
<td>
英才小学,郊区一中,十五中,北京航空航天大学
</td>
<td>
拆装积木,品茶
</td>
<td>
-3
</td>
<td>
同一高中 有智力类共同爱好 
</td>
</tr>
<tr>
<td>
杜笑海
</td>
<td>
山西省阳泉市矿区
</td>
<td>
二矿小学,三矿中学,三中,北京理工大学
</td>
<td>
涂鸦
</td>
<td>
-3
</td>
<td>

</td>
</tr>

                </tbody>
                </table>
            </div>
            </section>


            <!-- follow me template -->
            <div class="made-with-love">
                <i>♥</i><i>♥</i><i>♥</i><i>♥</i><i>♥</i><i>♥</i><i>♥</i><i>♥</i><i>♥</i><i>♥</i><i>♥</i><i>♥</i> 
            <br>
            <br>
            
            <a href="/welcome">Return</a>
            </div>
            <!-- partial -->
            <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="./script.js"></script> -->

            </body>
            </html>
                
