<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Input box</title>
  <link rel="stylesheet" href="static/css/style2.css">

</head>
<body>
    <!-- <p><br><br></p> -->
<!-- partial:index.partial.html -->
<div id="wrapper">
    <div id="info">
      <div id="info-content">
        <p><br></p>
        <h1>SOCIAL NETWORKS <strong>RECOMMAND FRIENDS FOR U</strong></h1>
        <p>
            Input: A NAME.<br>
            Input Example: 阮琛
        </p>
      </div>
    </div>
</div>
<div class='sexy_field'>
    <!-- required='required'  -->
    <form class="form" method="POST">
  <input required='required' name="keyvalue" type="text">
</form>
  <!-- <lable>
      <br><br>
    Please enter the key Value
  </lable> -->

</div>
<input type="checkbox" id="menu" name="menu" class="menu-checkbox">
<div class="menu">
  <label class="menu-toggle" for="menu"><span>Toggle</span></label>
  <ul>
    <li>
        <a href="/choice1">UPload CSV Data</a>
      </li>
      <li>
        <a href="/choice2">Display Whole Network</a>
      </li>
      <li>
        <a href="/choice3">Display One's Network</a>
      </li>
      <li>
        <a href="/choice4">New Friend Find</a>
      </li>
      <li>
        <a href="/welcome">Welcome Page</a>
      </li>
  </ul>
</div>
<!-- partial -->
  <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="./script.js"></script> -->

</body>
</html>
